SHELL=/bin/bash
PATH=/bin:/usr/bin
MAILTO=yunheng@ou.edu

#run part
# *     *   *   *    *  command to be executed
# -     -    -    -    -
# |     |     |     |     |
# |     |     |     |     +----- day of week (0 - 6) (Sunday=0)
# |     |     |     +------- month (1 - 12)
# |     |     +--------- day of month (1 - 31)
# |     +----------- hour (0 - 23)
# +------------- min (0 - 59)
#
00 * * * 0-6 /vol0/www/html/forecast/ywang/hurricane2/datastatus.py  2>&1 >/dev/null
30 * * * 0-6 /vol0/www/html/forecast/ywang/hurricane2/datastatus.py  2>&1 >/dev/null
